<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.qetesh.logi-options-plus-mini.agent</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/Logi Options+ mini Agent</string>
	<key>MachServices</key>
	<dict>
		<key>io.qetesh.logi-options-plus-mini.agent</key>
		<true/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>io.qetesh.Logi-Options-Plus-mini</string>
	</array>
</dict>
</plist>
